/* (1st)inline style attribute > (2nd)id selector > (3rd)class selector > (4th)element selector */

/* how to calculate specificity */

/* 1st count, 2nd count, 3rd count, 4th count */

div#container  ul.my-songs li{
    color: red;
    background: yellow;
}
/* specificity => 0,1,1,3 =>113*/

.favourite{
    color: yellow;
    background: red;
}

/* specificity => 0, 0, 1, 0 =>10*/

/* here among two selectors speicificity with 113 is high so 1st selector will be applied */