body{
    margin: 0px 50px
}
nav{
    margin-top: 100px;
    text-align: center;
    background: gray;
}

a{
    display: inline-block;
    margin: 10px;
    color: black;
    text-decoration: underline;
}
h2{
    text-decoration: underline red
}