*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin: 10px auto;
}

.box{
    border: 3px solid red;
    max-width: 500px;
    margin: auto;
    position: relative;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: gray;
    color: #fff;
    padding: 0.5em 1.2em;
    margin-top: 0.8em;
    transition: all 0.5s ease-in-out;
}

.btn:hover{
    background: #232323;
}

.box-content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out
}

.box:hover .box-content{
    opacity: 1;
    left: 50%;
}

.box::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.247);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.box:hover::after{
    opacity: 1;
}