<!-- <h1>Hello </h1>
<hinv-rooms>  </hinv-rooms> -->
<!-- <hinv-employee></hinv-employee> -->

<!-- <hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This is from Ng Content</h1>
</hinv-container> -->

<!-- <h1>
  <div #name></div>
</h1> -->


<!-- <div>
  <ng-template #user></ng-template>
</div> -->


<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User U need Admin Permission to access Rooms Component
  </div>
  <div *ngSwitchCase="'Admin'">
  </div>
  <div *ngSwitchDefault>
    You are not authorised
  </div>
</div> -->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->